@{
    ViewData["Title"] = "Deletar Contato";
}

<div class="text-center">
    <h3>Deseja apagar o contato (Kauê Guerra) ?</h3>

<a class="btn btn-primary" role="button"><i class="bi bi-check-circle"></i> Confirmar</a>
<a class="btn btn-danger" role="button" asp-controller="Contact" asp-action="index"><i class="bi bi-x-circle"></i> Cancelar</a>
</div>