@{
    ViewData["Title"] = "Editar Contato";
}

<div class="text-center">
    <h1 class="display-4">Editar Contato</h1>
</div>

<form>
  <div class="d-grid gap-3">
      <div class="form-group">
        <label for="Name" class="form-label">Nome</label>
        <input type="text" class="form-control" placeholder="Digite o nome do contato">
      </div>
      <div class="form-group">
        <label for="Email" class="form-label">Email</label>
        <input type="email" class="form-control" placeholder="Digite o email do contato">
      </div>
      <div class="form-group">
        <label for="phone" class="form-label">Telefone</label>
        <input type="tel" class="form-control" placeholder="Digite o telefone do contato">
      </div>
  </div>
  <div class="mt-3 float-end">
      <button type="submit" class="btn btn-primary"><i class="bi bi-save"></i> Salvar</button>
      <a class="btn btn-danger" role="button" asp-controller="Contact" asp-action="index"><i class="bi bi-arrow-left-circle"></i> Voltar</a>
  </div>
</form>